<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table class="table table-striped" border="2">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Identifier</th>
      <th>Show</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name%></td>
        <td><%= user.age%></td>
        <td><%= user.email%></td>
        <td><%= user.identifier%></td>
        <td><%= link_to "Show", user %></td>
      </tr>
    <% end %>
  </table>
</div>

 <%= button_to "New user", new_user_path, method: "get" %>
