<div id="<%= dom_id subject %>">
  <p>
    <strong>Open:</strong>
    <%= subject.open %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= subject.year %>
  </p>

  <p>
    <strong>Semister:</strong>
    <%= subject.semister %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= subject.teacher_id %>
  </p>

</div>
