<p style="color: green"><%= notice %></p>

<h1>Teachers</h1>

<div id="teachers">
  <table class="table table-striped" border="2">
    <tr>
      <th>User</th>
      <th>Show</th>
    </tr>
    <% @teachers.each do |teacher| %>
      <%= render teacher %>
      <tr>
        <td><%= teacher.user.name%></td>
        <td><%= link_to "Show", teacher %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= button_to "New teacher", new_teacher_path, method: "get" %>
